
# Use this file to store secrets like usernames and passwords.
# Learn more at https://home-assistant.io/docs/configuration/secrets/
http_password: xxx


zone_home_latitude: 00.0000
zone_home_longitude: 00.0000
zone_home_elevation: 00
bom_station_home: 00.0000
uber_token: xxxx
ifttt_key: xxxx
ring_username: xxxx@xxxx.com.au
ring_password: xxxx
dyson_username: xxxx@xxxx.com.au
dyson_password: xxxx
dyson1_ip: xx.xx.xx.xx
dyson1_serial: xxxx
http_base_url: https://xxxx.duckdns.org:8123
mqtt_ip: xx.xx.xx.xx
mqtt_username: xxxx
mqtt_password: xxxx
efergy_token: xx
trusted_ip1: xx.xx.xx.xx
trusted_ip2: ::1
trusted_ip3: xx.xx.xx.xx/24
router_ip: xx.xx.xx.xx
tile_username: xx@xx.com
tile_password: xxxx
qnap_host: xx.xx.xx.xx
qnap_username: xxxx
qnap_password: xxxx
james_work_latitude: 00.00
james_work_longitude: 00.00
denise_work_latitude: 00.00
denise_work_longitude: 00.00
kodi_ip: xx.xx.xx.xx
kodi_username: xxxx
kodi_password: xxxx
lgtv_ip: xx.xx.xx.xx
lgtv_token: xxxx
lifxcloud_token: xxxx
hue_bridges_host: xx.xx.xx.xx
hue_token: xxxx
j_and_d_phones: xx.xx.xx.xx
pushbullet_api: xxxx
hassio_ip: xx.xx.xx.xx
configurator_url: https://xxxx:xxxx/
tplink_ip1: xx.xx.xx.xx
cam_username: xxxx
dlink_cam_password: xxxx
cam1_password: xxxx
cam2_password: xxxx
cam3_password: xxxx
cam4_password: xxxx
cam5_password: xxxx
cam6_password: xxxx
cam7_password: xxxx
cam8_password: xxxx
yweather_woeid: xxxx
sonos_ip1: xx.xx.xx.xx
sonos_ip2: xx.xx.xx.xx
sonos_ip3: xx.xx.xx.xx
sonos_ip4: xx.xx.xx.xx
sonos_ip5: xx.xx.xx.xx
sonos_ip6: xx.xx.xx.xx
sonos_ip7: xx.xx.xx.xx
sonos_ip8: xx.xx.xx.xx
pi_hole_ip: xx.xx.xx.xx
harmony_ip: xx.xx.xx.xx
unifi_host: xxxx
unifi_username: xxxx
unifi_password: xxxx
ssid1: 'xxxx'
ssid2: 'xxxx'
ssid3: 'xxxx'
ssid4: 'xxxx'
darksky_api: xxxx
influxdb_ip: xx.xx.xx.xx
mariadb_ip: xx.xx.xx.xx
raincloud_username: xxxx@xxxx.com.au
raincloud_password: xxxx
github_jupyterlab_token: xxxx
github_travis_token: xxxx
grafana_url: http://xxxx
google_ip1: xx.xx.xx.xx
google_ip2: xx.xx.xx.xx
plex_ip1: xx.xx.xx.xx
plex_token: xxxx
travisci_token: xxxx
alarm_code_ha: xxxx